*{
    margin:0px;
    padding:0px;



}


#rama{
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: row-reverse;
    height: 600px;
    margin-top: 5px;
 
}

#rama>div{
    width: 80%;
    display: flex;
}


#getapp{
    text-decoration: none;
    color: black;
}
#getapp:hover{
    color: rgb(96, 170, 22);
}


#text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    /* padding-top: 150px;
    padding-left: 50px; */
    justify-content: center;
    margin-left: 80px;
}

#text>div:first-child>div:first-child{

    margin-bottom: 20px;
}

#text>div:first-child>div:nth-child(2){

    margin-bottom: 20px;
    width: 450px;
}

#text>div:nth-child(2)>div:first-child{
    font-size: 20px;
}



#app{
width:500px;
height:400px;
display: flex;
margin: auto;
margin-top: 150px;
}

#apps{

    margin-bottom: 20px;
    margin-left: 0px;
    width: 300px;
    height:50px;
    margin-top: 20px;
}    



#last{
display: flex;
margin-top: 20px;
}


#last>div:last-child{
    margin-left: 20px;

    }
    
    
#call{
    margin-top:180px ;
    width:100%
}






@media all and (min-width:1000px) and (max-width:1100px){





#text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    /* padding-top: 150px;
    padding-left: 50px; */
    justify-content: center;
    margin-left: 80px;
}

#app{

    width:500px;
    height:450px;
display: flex;
margin: auto;
margin-top: 100px;


}

    
    #apps{
    
        margin-bottom: 20px;
        margin-left: 0px;
        width: 300px;
        height:50px;
        margin-top: 20px;
        
    
    }    
    
    
    #text>div:nth-child(3)>div{
        
        margin-top: 20px;    
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    
    #last{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width:100px;
    
    }
    
    
    #call{
        margin-top:180px ;
        width:100%
    }
    
    
    #para{
        width: 100%;
        height: 158px;
    }
    

}


@media all and (min-width:450px) and (max-width:999px){


    #rama{
        display: flex;
        flex-direction: column;

    }
    
    #app{
        position: relative;
        width:350px;
        height:250px;
        margin-top: 200px;
        margin-left: 400px;  
    }
    
    #text{
    
        position:relative;
        margin-top: -350px;
        margin-left: 30px;
        color:black;
    }
    
    #text>div:first-child{
            width: 400px;
    }
    
    #text>div:first-child>div{
        margin-top: 10px;
        font-size: 15px;
    }
    
    #text>div:nth-child(2){
        margin-top: 20px;
        font-size: 20px;
        width: 400px;
        
    }
    
    
    #apps{
    
        margin-bottom: 20px;
        margin-left: 0px;
        width: 300px;
        height:50px;
        margin-top: 20px;
        
    
    }    
    
    
    #text>div:nth-child(3)>div{
        
        margin-top: 20px;    
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    
    #last{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width:200px;
    
    }
    
    
    #call{
        margin-top:180px ;
        width:100%
    }
    
    
    #para{
        width: 100%;
        height: 158px;
    }
    

}