*{
    margin:0px;
    padding:0px;

}

#getapp{
    text-decoration: none;
    color: black;
}
#getapp:hover{
    color: rgb(96, 170, 22);
}
#backgr{
    width:100%;
    height: 700px;
    margin: auto;
    margin-top: 0px;
    position: absolute;
    margin-bottom: 500px;

}


#app{
    position: relative;
    width:650px;
    height:550px;
    margin-top: 80px;
    margin-left: 550px;  
}

#text{

    position:relative;
    margin-top: -500px;
    margin-left: 120px;
    color:black;
}

#text>div:first-child{
        width: 400px;
}

#text>div:first-child>div{
    margin-top: 10px;
    font-size: 20px;
}

#text>div:nth-child(2){
    margin-top: 20px;
    font-size: 25px;
    width: 400px;
    
}


#apps{

    margin-bottom: 20px;
    margin-left: 0px;
    width: 300px;
    height:50px;
    margin-top: 20px;
    

}    


#text>div:nth-child(3)>div{
    
    margin-top: 20px;    
    font-size: 25px;
    margin-bottom: 20px;
}


#last{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
width:200px;

}


#call{
    margin-top:180px ;
    width:100%
}


#para{
    width: 100%;
    height: 158px;
}
