*{
    margin:0px;
    padding: 0px;
}

#giftone{

    margin-top: 5px;
    width: 100%;
    height:250px;
    text-decoration: none;
}

#gift{
    text-decoration: none;
    color: black;

}
#gift:hover{
    color: rgb(96, 170, 22);

}

#giftone{

    background-color: pink ;
    padding-top: 80px;
}




#giftimg{


    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;

}

#design{

    width:100%;
    height:70px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    line-height: 20px;
}

#design>div:first-child{
    font-size: 25px;
     font-weight: bold;
    margin-bottom: 10px;


}


#giftcard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,auto);
    gap:80px 80px;
    margin: auto;
    padding-left:70px;
    background-color: beige;
    padding-bottom: 50px;
}

#giftcard>div{
    width:80%;
    background-color:azure;
  text-align: center;
}


#gift_card{
    width:100%;
    height:200px;
}

#giftcard>div>h3{

     margin-top: 15px; 
     margin-bottom:10px;

}


#giftcard>div>p{

    margin-top: 7px; 
    margin-bottom:7px;

}


#giftcard>div>div:last-child:hover{


    background-color: bisque;
}
#giftcard>div>div:last-child{
    margin-top: 7px; 
    height: 50px;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size:30px;
    justify-content: center;
    background-color: rgb(238, 96, 119);
}

#giftcard>div>div:last-child>img{

    margin-top: 7px; 
    margin-bottom:7px;
    width:15px;
    margin-left: 20px;

}

    @media all and (min-width:450px) and (max-width:750px){

        #giftcard{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(auto,auto);
            gap:20px 20px;
            margin: auto;
            padding-left:70px;
            background-color: beige;
            padding-bottom: 50px;
        }
        
        #giftcard>div{
            width:80%;
            background-color:azure;
        text-align: center;
        }
        
        }

    @media all and (min-width:750px) and (max-width:1100px){

    #giftcard{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,auto);
        gap:20px 20px;
        margin: auto;
        padding-left:70px;
        background-color: beige;
        padding-bottom: 50px;
    }

    #giftcard>div{
        width:80%;
        background-color:azure;
    text-align: center;
    }

    }