
        *{
            margin: 0px;
            padding: 0px;
        }
        #nav{
            width:100%;
            height:40px;
            position: absolute;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
    
        }
    
        #position{
            position: relative;
            height: 40px;
            width:100%;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
        
        }
        #position>div:first-child{
    
            margin-left: 10px;  
            display: flex;
            align-items: center;
        }
    
        #position>div:first-child:hover{
            color: rgb(71, 238, 71) ;
        }
        #position>div:last-child{
              display: flex;
              align-items: center;
              margin-right: 10px;
              width:35%;
              justify-content: space-between;
              padding-right: 20px;
    }
    
    #position>div:last-child>div{
              display: flex;
              align-items: center;
    }


   
    #first{
        font-family: 'Inter', sans-serif;
                font-weight: 600;


    }

   
    
    #first:hover{
 
         color: antiquewhite;

         
    }
    
    
    #margin:hover{
        color: rgb(71, 238, 71) ;
        
    }
    
     #margin{
        font-family:serif;
        font-weight: 500;
        font-size: 16px;        
    }
    
    #categ{

        text-decoration: none;
        color: #000000;  
    } 
    
    
    #categ:hover{
        color: blueviolet
          
    }


    
    
    #textColor{
        cursor: pointer;
    }
    .one{
        cursor: pointer;
       
    }
    
    #image{
        height:25px;
    }
    
    #nykaatab{
         height:70px;
         width: 85%;
        display: flex;
        background-color: white;
        flex-direction: row;
        align-items: center;
        font-family: 'Inter', sans-serif;
           font-weight: bold;
        cursor: pointer;
        font-size: 14px;;
    }
    
    #nykaatab>div{    
        margin-left: 25px;
    }
    
    #nykaatab>div:hover{
        color: rgb(117, 78, 224);
     
        
    }
    input{
    
        width: 200px;
    height:40px;
    padding-left: 20px;
    background-color: aliceblue;
    border-color: aqua;
    border: 0.1px solid rgb(194, 220, 233);
    border-radius: 5px;
    margin-left: 50px;
    
    }
    
    #nav2{
        display: flex;
        width: 100%;
        height:55px;
    }
    #nav2>div{

        height: 100%;
    }
    
    
    #account{
        display:flex;
        width: 20%;
        justify-content: space-around;
        align-items: center;
        font-family: 'Inter', sans-serif;
        font-weight: bold;  
        background-color: white;
        font-size: 14px;  
            
    }
  
    #account>div:hover{
        cursor: pointer;
        color: rgb(117, 78, 224);
     
         
         
    }
    #symbol{
        
        height: 40px;
        width:25px;
        display: flex;
        align-items: center;
        padding-left: 5px;
    
    
        
    }

    
#positionrelativeone{
    position:fixed;
    margin-bottom: 50px;
    width: 100%;
}

#positionrelativetwo{
    width:100%;
    height:50px;
}
    
    #images{
        width:20px;
        height:20px;
        display: flex;
        justify-content: center;
        margin-left: -5px;
    }
    #margin>div:last-child{
    
        margin-left: 10px;
    
    
    }
    
    #first{
        text-decoration: none;
        color: #000000;
    

    }


    #search{
        height:20px;
        width:20px;
    }


    #help{
        text-decoration: none;
        color: #000000;
    }
    #help:hover{
        color: rgb(96, 170, 22);
    }
    
    #lastNav{
    
        height:50px;
        background-color: white;
        width: 100%;
        position:static;
    
        }
    

    @media all and (min-width:451px) and (max-width:750px){
        
        #first{
            font-size: 15px;
        }
        #margin{
          
                 
            font-size: 5px;
           
        
        }
        #image{
            height:20px;
        }


        #nykaatab{
            height:60px;
            width: 90%;          
            font-size: 8px;
       }
       
       #nykaatab>div{
           margin-left: 8px;
    }
       
       
       input{
       
           width:70px;
       height:20px;
       margin-top:5px ;
       margin-left: -5px;

       }


       #account{
    
        width: 20%;
        font-size: 13px;
    }

    
    #help{
        text-decoration: none;
        color: #000000;
        margin-left: -17px;
    }
    }



    @media all and (min-width:751px) and (max-width:1050px){



        #first{

            font-size: 16px;
        }
        #margin{
          
                 
            font-size: 5px;
           
        
        }
        #image{
            height:20px;
        }


        #nykaatab{
            height:60px;
            width: 90%;          
            font-size: 14px;
       }
       
       #nykaatab>div{
           margin-left: 12px;
    }
       
       
       input{
       
           width:70px;
       height:20px;
       margin-top:5px ;

       }


       #account{
    
        width: 20%;
        font-size: 13px;
    }

  
    
    #help{
        text-decoration: none;
        color: #000000;
        margin-left: -17px;
    }


        #position{
            position: relative;
            height: 40px;
            width:100%;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
        
        }
        #position>div:first-child{
    
            margin-left: 10px;  
            display: flex;
            align-items: center;
        }
    
        #position>div:first-child:hover{
            color: rgb(71, 238, 71) ;
        }
        #position>div:last-child{
              display: flex;
              align-items: center;
              margin-right: 10px;
              width:35%;
              justify-content: space-between;
              padding-right: 20px;
    }
    
    #position>div:last-child>div{
              display: flex;
              align-items: center;
    }



    #position{
        position: relative;
        height: 40px;
        width:95%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    
    }
    #position>div:first-child{

        margin-left: 10px;  
        display: flex;
        align-items: center;
    }

    #position>div:first-child:hover{
        color: rgb(71, 238, 71) ;
    }
    #position>div:last-child{
          display: flex;
          align-items: center;
          margin-right: 10px;
          width:35%;
          justify-content: space-between;
          padding-right: 20px;
}

#position>div:last-child>div{
          display: flex;
          align-items: center;
}




    










    }


    