*{
    margin: 0px;
    padding:0px;
}

#store{
    text-decoration: none;
    color: black;
}
#store:hover{
    color: rgb(96, 170, 22);
}

#lastone{

    width:100%;
}



#red{
    width:100%;
    height:110px;
    background-color: coral;


}
#red>div:first-child{
    display: grid;
    display: flex;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,auto);
    justify-content: space-around;

}

#red>div:first-child>div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    font-size: 18px;
    cursor: pointer;
}

#red>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;    
}
#red>div:first-child>div:hover{
     color: white;

}


#lastag{

    height:120px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    margin: auto;
    background-color: rgb(251, 243, 233);
    padding-left: 50px;
}
#lastag>div{
    width: 275px;
    display: flex;
    align-items: center;
    cursor: pointer;
justify-content: center;
}
#lastag>div:hover{

background-color: rgb(120, 215, 36);

}

#lastag>div:last-child{
    margin-left: 20px;
}

.free{
    width: 75px;
    height:70px;
    margin-right: 10px;
}





    

