*{
    margin:0px;
    padding:0px;
}

#firstimage{

    height: auto;
    margin: auto;
    width:100%;
    display: flex;
    cursor: pointer;
    margin-top: 5px;
    
}

#box{
    background-color:rgb(130, 243, 243);
    width:100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:repeat(1,auto) ;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: bold;

}

@media all and (min-width:451px) and (max-width:750px){
    #box{
        display:grid;
      grid-template-columns: repeat(2,1fr);
      gap:20px 20px;
    }



}

#box>div{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:serif;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    cursor: pointer;
    margin-top:0px;

}

#deal{

  width:100%;
  height:450px;
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(auto,auto);
  margin: auto;
  cursor: pointer;

}
#deal>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    

}

#discount{
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    cursor: pointer;


}

#savings{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin-top: 30px;
    cursor: pointer;
}

#lastimage{
    width:100%;
    margin: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#lastim{
width:100%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(auto,auto);
  margin: auto;
  background-color:lightgoldenrodyellow;
  cursor: pointer;
}


@media all and (min-width:451px) and (max-width:750px){
    #deal{
       
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto,auto);
        margin: auto;
        cursor: pointer;
      }

      #deal>div{
          display: flex;
          justify-content: space-around;
          align-items: center;
          cursor: pointer;
      }
      
   
      
      
      #savings{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          margin-top: 30px;
          cursor: pointer;
          margin: auto;
          
        
      }      
      #savings>div{
display: flex;
align-items: center;
justify-content: center;
      }

      
     
      #lastim{
          width:100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto,auto);
        margin: auto;
        background-color:lightgoldenrodyellow;
        cursor: pointer;
        align-items: center;

        
      }
      #lastim>div{

       
         padding-left: 60px;


      }
      
      

}







@media all and (min-width:751px) and (max-width:1050px){
    #deal{
       
        width: 100%;
        height: auto;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,auto);
        margin: auto;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-size: 20px;

      }

      #deal>div{
          display: flex;
          justify-content: space-around;
          align-items: center;
          cursor: pointer;
      }
      
   
      
      
      #savings{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          margin-top: 30px;
          cursor: pointer;
          margin: auto;
          
        
      }      
      #savings>div{
display: flex;
align-items: center;
justify-content: center;
      }

      
     
      #lastim{
          width:100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,auto);
        margin: auto;
        background-color:lightgoldenrodyellow;
        cursor: pointer;
        align-items: center;

        
      }
      #lastim>div{

       
      display: flex;
      align-items: center;
      justify-content: center;


      }
      #box{
        display:grid;
      grid-template-columns: repeat(3,1fr);
      gap:20px 20px;
    }
      
      

}














